.header {
    background-color: black;
    border-bottom: 1px solid rgb(75, 237, 0);

    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 999;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 15px;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header__icon {
    display: flex;
    gap: 30px;
}

.header__li {
    font-size: 16px;
    color: #a9a8a8;
    transition: all 1s ease;
    &:hover {
        color: rgb(75, 237, 0);
        border-top: 2px solid rgb(75, 237, 0);
        // border-bottom: 1px solid rgb(75, 237, 0);
        text-decoration: none;
        padding: 5px 0;
    }
    @media (max-width: 786px) {
      display: none;  
    }
}

.header__logo {
    @media (max-width: 786px) {
        margin: 0 auto;
    }
}

.header__link {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__lili {
    width: 60px;
    height: 25px;
    background-color: #4bed00;
    color: #a9a8a8;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    padding-top: 2px;
    margin-top: 1px;
    transition: all 0.5s;
    &:hover {
        color: #fff;
        background: none;
    }
}

.header__bur {
    display: none;
    background-color: transparent;
.short {
    width: 20px;
}    
    @media (max-width: 786px) {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 5px;
    }
    span {
        background-color: #fff;
        display: block;
        width: 30px;
        height: 1px;
    }
}

.header__open {
    display: none;
    @media (max-width: 786px) {
        display: block;
    }
}

.EZDrawer {
    position: absolute;
}

.header__bgd {
    width: 100%;
    height: auto;
    backdrop-filter: blur(5px);
}

.header__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}

.header__link {
    color: #a9a8a8;
    &:hover {
        color: #4bed00;
    }
}

.header__open {
    background-color: transparent !important;
}

.header__search {
    border: 1px solid #fff;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
    width: 50%;
    outline: none;
    border: none;
    &:hover {
        border: 1px solid #4bed00;
        background: transparent;
        backdrop-filter: blur(20px);
        color: #fff;
        &::placeholder {
            color: #a9a8a8 ;
        }
    }
}
