.option {
    position: sticky;
    top: -5px;
    background-color: #000;
    z-index: 99;
    border-bottom: 1px solid #44d62c;
    box-shadow: 1px 1px 5px 8px rgba(67,214,44,.2);
    padding: 10px 0;
    @media (max-width: 786px) {
        top: -22px;
    }
    @media (max-width: 320px) {
        top: -22px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        @media (max-width: 786px) {
            display: block;
        }
    }
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        color: #fff;
        transition: all 0.5s;
        &:hover {
            color: rgb(75, 237, 0);
            img {
                transform: scale(1.1);
            }
        }
        img {
            width: 50px;
            height: 60px;
            object-fit: contain;
        }
       
    }
    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(0.625rem, -0.284rem + 4.55vw, 3.125rem);
        @media (max-width: 786px) {
            display: none;
        }
    }
    &__swiper {
        display: none;
        @media (max-width: 786px) {
            display: block;
        }
        .option__link {
            margin-top: 20px;
        }
    }
}

.swiper-pagination-progressbar-fill {
    background-color: rgb(75, 237, 0) !important;
}